html {
  font-size: 10px;
  background: #eff;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 50px;
  line-height: 1;
  margin-bottom: 0;
}
h2{
  text-align: center;
  font-size: 30px;
}
button{
  background-color: #2bbbb4;
  display: block;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
  margin: auto;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.grass {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.grass:after {
  display: block;
  background: url(grass.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:100px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.monster {
  background: url('monster.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.grass.up .monster {
  top: -30px;
}
